# Ignore node_modules directory
node_modules/

# Ignore build and cache directories
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Other
.DS_Store
.idea/
.vscode/
